@model lavAspMvclast.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
 

<h2>Вход в приложение</h2>

<form method="post" asp-controller="Account" asp-action="Login"

     asp-route-returnUrl="@Model.ReturnUrl">

   <div asp-validation-summary="ModelOnly"></div>

   <div>

       @Localizer["Email"]

       <input asp-for="Email" />

       <span asp-validation-for="Email"></span>

   </div>

   <div>

       @Localizer["Password"]

       <input asp-for="Password" />

       <span asp-validation-for="Password"></span>

   </div>

   <div>

       @Localizer["RememberMe"]

       <input asp-for="RememberMe" />

   </div>

   <div>

       <input type="submit" value="@Localizer["LogIn"]" />

   </div>

</form>

@section Scripts

{

    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

}