@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model  lavAspMvclast.ViewModels.TaskPageModel

@{
    ViewData["Title"] = "Index";
}

<form method="get">
    <div class="form-inline form-group">
    <label class="control-label"> @Localizer["Name"] </label>   
    @Html.TextBox("Name",Model.Name,htmlAttributes:new{@class="form-control"})
    <label class="control-label"> @Localizer["WordInDesc"] </label>   
    @Html.TextBox("WordInDescription",Model.WordInDescription,htmlAttributes:new{@class="form-control"})
    <label class="control-label"> @Localizer["Status"] </label>   
    @Html.TextBox("Status",Model.Status,htmlAttributes:new{@class="form-control"})
    <label class="control-label"> @Localizer["Priority"] </label>   
    @Html.TextBox("Priority",Model.Priority,htmlAttributes:new{@class="form-control"})
    <label class="control-label"> @Localizer["FromDate"] </label>   
    <input asp-for="@Model.Form" name="From" class="form-control" />
    <label class="control-label"> @Localizer["ToDate"] </label>   
    <input asp-for="@Model.To" name="To" class="form-control" />
    <input type="submit" value="@Localizer["Filter"]" class="btn btn-outline-danger" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
               <p>#</p>
            </th>
            <th>
              <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort"> @Localizer["Name"]</a>
            </th>
            <th>
               <p> @Localizer["Description"] </p>
            </th>
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewBag.PrioritySort"> @Localizer["Priority"]</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSort"> @Localizer["DateCreated"]</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.StatusSort"> @Localizer["Status"]</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoTasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @if (item.Priority == 1)
                    {
                       <p>@Localizer["Low"]</p>
                    }
                    @if (item.Priority == 2)
                    {
                       <p>@Localizer["Mid"]</p>
                    }
                    @if (item.Priority == 3)
                    {
                       <p>@Localizer["High"]</p>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
               @if (item.Status == 1)
                    {
                       <p>@Localizer["New"]</p>
                    }
                    @if (item.Status == 2)
                    {
                       <p>@Localizer["Open"]</p>
                    }
                    @if (item.Status == 3)
                    {
                       <p>@Localizer["Close"]</p>
                    }
            </td>
            <td>
                    @if (1 == @ViewBag.AdminUserId)
                    {
                        <a asp-action="Open" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Open"]  |</a>
                        <a asp-action="Edit" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Edit"]  |</a>
                        <a asp-action="Delete" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Delete"]  |</a>
                        <a asp-action="Create" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Create"]  |</a>
                        <a asp-action="Close" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Close"]  |</a>
                        <a asp-action="Take" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Take"]  |</a>
                        <a asp-action="Details" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Details"]  |</a>
                    }else{
                    @if (@ViewBag.UserId == item.CreaterId)
                    {
                        @if (item.Status == 1)
                        {
                            <a asp-action="Open" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Open"]  |</a>
                        }
                        @if (item.Status == 2)
                        {
                            <a asp-action="Take" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Take"]  |</a>
                        }
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]  |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]  |</a>
                    }
                    @if(@ViewBag.UserId == item.CompliterId)
                    {
  @if (item.Status != 1 && item.Status !=3)
                    {
                        <a asp-action="Close" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Close"]  |</a> 
                    }
                    }
                    @if(@ViewBag.UserId != item.CompliterId && @ViewBag.UserId != item.CreaterId)
                    {
                         @if (item.Status == 2)
                    {
                       <a asp-action="Take" asp-controller="ToDoTasks" asp-route-id="@item.Id">@Localizer["Take"]  |</a> 
                    }
                    }
}
            </td>
            
        </tr>        
}
    </tbody>
</table>
@if(Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber-1)" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-left">@Localizer["Previous"]</i></a>
}
@if (Model.PageViewModel.HasNextPage)
{
   <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber+1)" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-right">@Localizer["Next"]</i></a>  
}
